@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');

body{
    height: 100vh;
    font-family: 'Readex Pro', sans-serif;
    background-color: rgb(126, 181, 166);
    color: rgb(232, 208, 179);
}

#box1, #box2{
    height: 200px;
    width: 200px;
    text-align: center;
    line-height: 200px;
    font-size: 60px;
}

#box1{
    background-color: rgb(195, 104, 57);
}

#box2{
    background-color: rgb(134, 52, 10);    
}
